# ==========================================
# Cấu hình chung (General Config)
# ==========================================
aws_region   = "ap-southeast-1"
project_name = "laravel-vue"
environment  = "dev"

# ==========================================
# Cấu hình EC2 & Database
# ==========================================
ec2_instance_type = "t3.micro"
db_name           = "app"
db_username       = "app"
db_password       = "<password>"
db_root_password  = "<root_password>"

# ==========================================
# Cấu hình CI/CD (GitHub & CodePipeline)
# ==========================================
github_connection_arn  = "arn:aws:codeconnections:ap-southeast-1:123456789:connection/944fad94-4ff1-442d-aa8d-xxxxx"
github_repository_name = "your-name/your-repo-name"
github_branch_name     = "develop"
